# Description : .gitignore - 📌 Git 추적 제외 파일 목록
# Author : Shiwoo Min
# Date : 2025-09-09
# 09-16 - 주석 보강

# 로그 파일
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node.js 진단 리포트
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# 런타임 데이터
pids
*.pid
*.seed
*.pid.lock

# jscoverage/JSCover로 생성된 계측 라이브러리
lib-cov

# 커버리지 결과 (Istanbul 등)
coverage
*.lcov

# nyc 커버리지 출력
.nyc_output

# Grunt 임시 저장소
.grunt

# Bower 의존성 디렉터리
bower_components

# node-waf 설정 파일
.lock-wscript

# 컴파일된 바이너리 애드온
build/Release

# 의존성 디렉터리
node_modules/
jspm_packages/

# Snowpack 의존성 디렉터리
web_modules/

# TypeScript 캐시
*.tsbuildinfo

# npm 캐시 디렉터리(선택)
.npm

# Nx 캐시
.nx

# DataGrip 캐시
.idea

# eslint 캐시(선택)
.eslintcache

# stylelint 캐시(선택)
.stylelintcache

# Node REPL 히스토리(선택)
.node_repl_history

# npm pack 결과
*.tgz

# Yarn 무결성 파일
.yarn-integrity

# dotenv 환경 변수 파일
.env
.env.*
!.env.example

# 비밀 키 파일
.secrets

# parcel 캐시
.cache
.parcel-cache

# Next.js 빌드 결과
.next
out

# Nuxt.js 빌드/생성 결과
.nuxt
dist

# Gatsby 빌드 결과
.cache/

# Next.js가 아니라 Gatsby를 쓰는 경우 public 폴더 무시
# public

# vuepress 빌드 결과
.vuepress/dist

# vuepress v2.x 임시 및 캐시 디렉터리
.temp
.cache

# SvelteKit 캐시 디렉터리
.svelte-kit/

# vitepress 빌드 결과
**/.vitepress/dist

# vitepress 캐시 디렉터리
**/.vitepress/cache

# Docusaurus 캐시 및 생성 파일
.docusaurus

# Serverless 빌드 결과
.serverless/

# FuseBox 캐시
.fusebox/

# 로컬 DynamoDB 데이터
.dynamodb/

# Firebase 캐시 디렉터리
.firebase/

# TernJS 포트 파일
.tern-port

# VSCode 확장 테스트용 버전 저장소
.vscode-test

# yarn v3 (Plug’n’Play)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite 로그 파일
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Prisma 자동 생성 클라이언트
/packages/database/generated/
